<%= if @changeset.action do %>
  <div class="alert alert-danger">
    Edit failed. Please fix the errors below.
  </div>
<% end %>

<span><%= link "< Back", to: Routes.event_path(@conn, :index) %></span>

<h1>New Event</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.event_path(@conn, :create)) %>
