<%= if @changeset.action do %>
  <div class="alert alert-danger">
    Registration failed. Please fix the errors below.
  </div>
<% end %>

<span><%= link "< Back", to: Routes.event_path(@conn, :index) %></span>

<h1>Register</h1>


<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create, return_to: @conn.params["return_to"])) %>


