<h1>Show User</h1>

<span><%= link "< Back", to: Routes.event_path(@conn, :index) %></span>

<div class="row">
  <%= if @user.profile_photo_hash do %>
    <img src=<%= Routes.user_path(@conn, :profile_photo, @user) %> alt="" class="img-circle">
  <% end %>
</div>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

</ul>

<span><%= link "Edit Profile", to: Routes.user_path(@conn, :edit, @user) %></span>
